#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
    background-color: var(--lwt-toolbar-field-background-color, rgba(255, 255, 255, 0.8));
    transition: none !important;
    border-radius: var(--toolbarbutton-border-radius);
}

#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    border: 1px solid var(--toolbar-field-focus-border-color) !important;
}
