/* REMOVE MEGABAR START
 * VERSION 1.0.3
 * RELEASE NOTES: http://userchrome.wesleybranton.com/notes/megabar */
@-moz-document url(chrome://browser/content/browser.xhtml) {
    #urlbar[breakout][breakout-extend] > #urlbar-input-container,
    #urlbar-input-container {
        height: var(--urlbar-height) !important;
        padding-block: 0px !important;
        padding-inline: 0px !important;
        transition: none !important;
        border-radius: var(--toolbarbutton-border-radius) !important;
    }

    #urlbar[breakout][breakout-extend] {
        top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
        left: 0 !important;
        width: 100% !important;
    }
    
    #urlbar[breakout][breakout-extend] > #urlbar-background {
        animation-name: none !important;
        box-shadow: 0 1px 4px rgba(0,0,0,.05) !important;
    }

    #urlbar[breakout][breakout-extend] > #urlbar-input-container {
        border: 1px solid var(--toolbar-field-focus-border-color) !important;
    }

    #urlbar[breakout][breakout-extend][open] > #urlbar-input-container {
        border-bottom: 1px solid transparent !important;
        border-radius: var(--toolbarbutton-border-radius) var(--toolbarbutton-border-radius) 0 0 !important;
    }
}
/* REMOVE MEGABAR END */
